@{
    ViewData["Title"] = "Product";
}
@model List<ProductModel>

<h2>Count: @Model.Count</h2>
<p><a class="btn btn-primary" asp-controller="Product" asp-action="Create">Create</a></p>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Product Name</th>
            <th>Product Quantity</th>
            <th>Product Price</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Quantity</td>
                <td>@item.Price.ToString("0.00")</td>
                <td>
                    <a class="btn btn-outline-info" asp-controller="Product" asp-action="Edit"
                        asp-route-id="@item.Id">Edit</a>
                    <a class="btn btn-outline-danger" asp-controller="Product" asp-action="Delete"
                        asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>